 <!-- <section id="contact" class="bg-secondary text-white">-->
        <section id="contact" style="background-color:#1a5281" class="text-white">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 mx-auto text-center text-white">
                  <h2 class="section-heading">Keep Up To Date</h2>
                  <hr class="my-4">
                  <p class="mb-5">Join the conversation with us and keep up with the latest news in all the usual places:</p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-2 mr-auto text-center">
                   <a href="mailto:info@apperta.org" target="_blank" ><i class="fas fa-envelope fa-3x sr-contact"></i></a>
                   <a href="mailto:info@apperta.org">info@apperta.org</a>
                </div>
                <div class="col-md-2 mr-auto text-center">
                    <a href="https://github.com/appertafoundation" target="_blank" > <i class="fab fa-github fa-3x sr-contact"></i></a>
                </div>
                <div class="col-md-2 mr-auto text-center">
                    <a href="https://www.linkedin.com/company/the-apperta-foundation-c.i.c./" target="_blank"><i class="fab fa-linkedin fa-3x sr-contact"></i></a>
                </div>
                <div class="col-md-2 mr-auto text-center">
                  <a href="tel:0300 030 1973" class="icon"><i class="fas fa-phone fa-3x sr-contact"></i></a><br>
                  <a href="tel:0300 030 1973" class="icon">0300 030 1973</a>
               </div>
               <div class="col-md-2 mr-auto text-center">
                <a href="privacy"><i class="fas fa-cookie-bite fa-3x sr-contact"></i></a>
            </div>
                
              </div>
            </div>
            <br>
            <hr class="my-4"> 
            <br>
            <center><i><p style="font-size: x-small">The Apperta Foundation CIC is a limited company (registration number 09483987)</br> 
            Our registered address is Sunderland Software Centre, Tavistock Place, Sunderland, Tyne And Wear, England, SR1 1PB </br>
            This website is copyright © Apperta Foundation CIC {{ site.time | date: '%Y' }}<br> 
            Apperta Foundation, openOutcomes, OpenEyes, Care Precision, Open eReact, Code4Health & C4H are Registered Trademarks of the Apperta Foundation CIC {{ site.time | date: '%Y' }}</br>    
            openEHR™ is a Trademark of the openEHR Foundation {{ site.time | date: '%Y' }}<br>        
            The Apperta Foundation is not responsible for content found on external sites, linked from this website.</p></center>
            </div>
          </section>

    

    

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
  
    <!-- Custom scripts for this template -->
    <script src="/js/creative.min.js"></script>
  
<!-- Bootstrap 4 DataTables Script -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script>$('#project').DataTable( {
    iDisplayLength: 100,    
    columnDefs: [
            {
                "targets": [ 6 ],
                "visible": false,
                "searchable": true,
            },
           
        ],  
    responsive: true,
    pagingType: 'full',
    
    language: {
        paginate: {
            first:    '  «  ',
            previous: '  ‹  ',
            next:     '  ›  ',
            last:     '  »  '
        },
        aria: {
            paginate: {
                first:    'First',
                previous: 'Previous',
                next:     'Next',
                last:     'Last'
            }
        }
    }
} );</script>
  </body>

</html>
