 <!-- <section id="contact" class="bg-secondary text-white">-->
        <section id="contact" style="background-image:url(../img/contact-bg.jpg);background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                  <h2 class="section-heading">Keep Up To Date</h2>
                  <hr class="my-4">
                  <p class="mb-5">Join the conversation with us and keep up with the latest news in all the usual places:</p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-2 mr-auto text-center">
                   <a href="mailto:info@apperta.org" target="_blank" ><i class="fas fa-envelope fa-3x sr-contact"></i></a>
      
                </div>
                <div class="col-md-2 mr-auto text-center">
                    <a href="https://twitter.com/appertauk" target="_blank" > <i class="fab fa-twitter fa-3x sr-contact"></i></a>
                </div>
                <div class="col-md-2 mr-auto text-center">
                    <a href="https://github.com/appertafoundation" target="_blank" > <i class="fab fa-github fa-3x sr-contact"></i></a>
                </div>
                <div class="col-md-2 mr-auto text-center">
      <a href="https://forums.apperta.org" target="_blank" ><i class="fas fa-comments fa-3x sr-contact"></i></a>
          </div>
                <div class="col-md-2 mr-auto text-center">
                    <a href="privacy"><i class="fas fa-cookie-bite fa-3x sr-contact"></i></a>
                </div>
                
              </div>
            </div>
            <br>
            <hr class="my-4"> 
            <br>
            <center><i><p style="font-size: x-small">The Apperta Foundation CIC is a limited company (registration number 09483987) </i><p></center>

            <center><i><p style="font-size: x-small">Our registered address is Sunderland Software Centre, Tavistock Place, Sunderland, Tyne And Wear, England, SR1 1PB </i><p></center>
                  <center><i><p style="font-size: x-small">Code4Health & C4H are registered Trademarks of the Apperta Foundation CIC 2018</i><p></center>
                

            </div>
          </section>

    

    

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
  
    <!-- Custom scripts for this template -->
    <script src="/js/creative.min.js"></script>
  
<!-- Bootstrap 4 DataTables Script -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script>$('#project').DataTable( {
    iDisplayLength: 100,    
    columnDefs: [
            {
                "targets": [ 6 ],
                "visible": false,
                "searchable": true,
            },
           
        ],  
    responsive: true,
    pagingType: 'full',
    
    language: {
        paginate: {
            first:    '  «  ',
            previous: '  ‹  ',
            next:     '  ›  ',
            last:     '  »  '
        },
        aria: {
            paginate: {
                first:    'First',
                previous: 'Previous',
                next:     'Next',
                last:     'Last'
            }
        }
    }
} );</script>
  </body>

</html>