<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ 'site.baseurl' }}"><!--<img src="./img/c4hlogo.png" width="300px">-->Code4Health</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
		<div class="dropdown show">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Communities</a>

               <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                 <a class="dropdown-item nav-link js-scroll-trigger" href="#communities">Overview</a>
                 <a class="dropdown-item nav-link js-scroll-trigger" href="{{ '/communities' }}#communities">Communities & Projects</a>
				 <a class="dropdown-item nav-link js-scroll-trigger" href="{{ '/communities' }}#values">Values</a>
               </div>
          </div>
            <!--<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="page.html">Communties</a>
            </li>-->
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#platform">Platform</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#news">Featured Stories</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#supporters">Supporters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
			<li class="nav-item">
			 <a class="nav-link" href="https://github.com/appertafoundation" target="_blank"><i class="fab fa-github"></i></a>
			</li>
			<li class="nav-item">
			 <a class="nav-link" href="https://twitter.com/code4health" target="_blank"><i class="fab fa-twitter"></i></a>
			</li>
          </ul>
        </div>
      </div>
    </nav>

